 .img {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 0;
     background: url(/assets/homeProgramming.jpeg) top center no-repeat #bababa;
     background-size: cover;
     color: #fff;
     padding-left: 110px;
     padding-top: 130px;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
     font-size: 12px;
 } 