 .responsive-img {
   margin: 0 auto;
   max-height: 100px;
   padding-bottom: 10px;
   text-align: center;
   vertical-align: middle;
 }

 .zoom span {
   width: 16%;
   display: inline-table;
   padding: 10px;
   text-align: center;
 }